@charset "UTF-8";

*{
    font-family:Arial, Helvetica, sans-serif;

}
body {
    background-image: linear-gradient(to right,#28E6F7,#19E0BA,#1CFC91 );
}
main{
    margin: auto;
    width: 200px;
    font-size: 10px;
    border-radius: 10px;
}
p{
    border-radius: 10px;
    padding :5px;
    text-align: justify;
    background-color:rgb(10, 177, 10);
    box-shadow: 3px 5px 12px #11977f;
}
h1{
    font-size: 15px;
    margin: auto;
}
